{% extends 'common/base.html' %}

{% block content %}
    <div class="container-fluid d-flex flex-column mt-5 gap-3 text-center">
        <h3>Archive</h3>
        {% if object_list %}
            <div class="form task table-responsive m-auto" style="width: 50%">
                <p class="pb-4">Here are all the tasks that you have archived:</p>
                <table class="container-fluid">
                    <thead>
                    <tr>
                        <th><p class="mb-0">Title</p></th>
                        <th><p class="mb-0">Due Date</p></th>
                        <th><p class="mb-0">Due Time</p></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in object_list %}
                        <tr class="tasks-list">
                            <td><p class="m-3">{{ task.title|truncatechars:15 }}</p></td>
                            <td><p class="mt-3">{{ task.deadline.date }}</p></td>
                            <td><p class="mt-3">{{ task.deadline.time }}</p></td>
                            <td>
                            <div class="d-flex">
                                <form method="post" class="form"
                                      action="{% url 'personal-task-unarchive' user.username task.pk %}">

                                    {% csrf_token %}

                                        <button class="btn btn-secondary mt-0"
                                           type="submit">
                                            Unarchive
                                        </button>
                                    </form>

                                <a class="btn btn-secondary mt-0"
                                   href="{% url 'personal-task-delete' user.username task.pk %}">
                                    Delete
                                </a>
                            </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h6 class="mt-5">You have no archived tasks yet!</h6>
        {% endif %}
    </div>
{% endblock %}