<h4 class="mb-4">{{ object.title }}</h4>

<p>Priority: {{ object.get_priority_display }}</p>

<p>Created: {{ object.created_at.date }} - {{ object.created_at.time }}</p>

<p>Deadline: {{ object.deadline.date }} - {{ object.deadline.time }}</p>

{% if object.description %}
    <p>Description: {{ object.description }}</p>
{% endif %}

{% if object.note %}
    <p>Note: {{ object.note }}</p>
{% endif %}

{% if object.is_completed %}
    <p>Completed: Yes</p>
{% else %}
    <p>Completed: No</p>
{% endif %}