{% extends 'common/base.html' %}

{% block content %}
    <div class="task">
        <div class="container-fluid">
            <h3>Delete Task:</h3>
        
            <form class="form edit-task" method="post">

                {% csrf_token %}
            
                {% include 'tasks/tasks_personal/personal-task-details-common.html' %}
                
                <br>
                <br>
                <p>Are you sure you want to delete this task?</p>

                <div class="profile-btns">
                    <a class="btn btn-secondary" 
                       href="{% url 'personal-task-details' user.username object.pk %}">
                        Back
                    </a>
                    
                    <button class="btn btn-secondary" type="submit">Delete</button>
                </div>
            
            </form>
        
        </div>
    </div>
{% endblock %}