{% extends 'tasks/task-edit.html' %}

{% block task-edit %}
    <h4>Edit task "{{ task.title }}":</h4>
    
    <form class="form edit-task" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-secondary btn-success" type="submit">Update</button>
    </form>

    <div class="d-flex align-self-start">
        <button class="btn btn-secondary mt-0"
                onclick="window.history.back()">
            Back
        </button>
    </div>
{% endblock %}