{% extends 'common/base.html' %}

{% block content %}
    <div class="container-fluid d-flex flex-column m-auto gap-3 text-center">
        <h3>Welcome to your Personal Dashboard!</h3>
        <div class="form task prnl-taskbrd">
            {% if object_list %}
                <h4 class="mb-4">Here are your tasks:</h4>
            {% else %}
                <div>
                    <h4>You have no tasks yet!</h4>
                    <div>
                        <p>But you can create your First one</p>
                        <a class="btn dropbtn create-task-btn"
                           href="{% url 'personal-task-create' user.username %}">
                            Here
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if object_list %}
                <div class="form container-fluid table-responsive">
                    <table class="container-fluid border-1">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Due Date</th>
                            <th>Due Time</th>
                            <th>Priority</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in object_list %}
                            <tr class="tasks-list">
                                <td><strong>{{ task.title|truncatechars:15 }}</strong></td>
                                <td>{{ task.deadline.date }}</td>
                                <td>{{ task.deadline.time }}</td>
                                <td class="priority {{ task.priority }}">
                                    {{ task.get_priority_display }}
                                </td>
                                <td>
                                    <a class="btn btn-secondary mt-2 px-3 py-1"
                                       href="{% url 'personal-task-details' user.username task.pk %}">
                                        <strong>View</strong>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="mt-5 mb-3">
                    {% include 'common/paginator.html' %}
                    </div>

                    <div class="profile-btns">
                        <a class="btn btn-secondary"
                           href="{% url 'personal-task-create' user.username %}">
                            Create New Task
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}