{% extends 'common/base.html' %}

{% block content %}
    <div class="details">
        <div class="form edit-form">
            <h2 id="taskboard-title">{{ task.title }}</h2>
            <p>Priority: {{ task.get_priority_display }}</p>
            <p>Created: {{ task.created_at.date }} - {{ task.created_at.time }}</p>
            <p>Deadline: {{ task.deadline.date }} - {{ task.deadline.time }}</p>
            {% if task.description %}
                <p>Description: {{ task.description }}</p>
            {% endif %}
            {% if task.note %}
                <p>Note: {{ task.note }}</p>
            {% endif %}
            {% if task.is_completed %}
                <p>Completed: Yes</p>
            {% else %}
                <p>Completed: No</p>
            {% endif %}

            <div class="profile-btns">
                <a href="{% url 'task-edit' user.username task.pk %}" class="btn dropbtn">Edit</a>
                <a href="{% url 'task-delete' user.username task.pk %}" class="btn dropbtn">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}