{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="home-page">
        {% if request.user.is_authenticated %}
            <div class="home-user">
                <h2>Welcome, <i>{{ user.username }}</i> !</h2>
                <section class="tasks-teams-home">
                    <div class="tasks">
                        <a href="{% url 'taskboard' user.username %}">
                            <h4>Your Personal Tasks</h4>
                            <p>There are <strong>{{ user.created_tasks.count }}</strong> tasks to do</p>
                        </a>
                    </div>
                    <div class="tasks">
                        <a href="{% url 'teams-dashboard' user.username %}">
                            <h4>Your Teams</h4>
                            <p>You are included in <strong>{{ user.teams.count }}</strong> teams</p>
                        </a>
                    </div>
                </section>
            </div>

        {% else %}
            <h1>Welcome to TockTime !</h1>
            <p>
                A home for your personal and team’s tasks!
            </p>
            <div class="nav-home">
                {% include 'common/nav-home-page.html' %}
            </div>
        {% endif %}
    </div>
{% endblock %}