{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid d-flex flex-column m-auto gap-3 text-center">
        {% if request.user.is_authenticated %}
            <h3>Welcome, <i>{{ request.user.username }}</i> !</h3>
            <div class="form form-view d-flex">
                <div class="row">
                    <div class="col-sm-6 mb-sm-0">
                        <div class="card custom-card card-link-hover">
                            <div class="card-body">
                                <a href="{% url 'personal-taskboard' request.user.username %}">
                                    <h5 class="card-title mb-4">Your Personal Tasks</h5>
                                    <p class="card-text">
                                        There are <strong>{{ personal_tasks.count }}</strong> tasks to do!
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card custom-card card-link-hover">
                            <div class="card-body">
                                <a href="{% url 'teams-dashboard' request.user.username %}">
                                    <h5 class="card-title mb-4">Your Teams</h5>
                                    <p class="card-text">
                                        You are included in <strong>{{ teams.count }}</strong> teams
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <h1 class="mt-5">Welcome to TockTime !</h1>
                <h5 class="mt-4">
                    A home for your personal and team’s tasks!
                </h5>
                <div class="d-flex">
                    {% include 'common/nav-home-page.html' %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}