{% load static %}

<div class="my-logo">
    <a href="{% url 'home' %}">
        <img class="my-logo-img" src="{% static 'images/logo.png' %}" alt="logo-img">
        <p>TockTime</p>
    </a>
</div>
<div class="nav-header">
    {% if request.user.is_authenticated %}
        <div class="dropdown default-img" style="float: right">
        <button class="dropbtn">
            <div id="user-img">
                {# If user has profile image then show it else show default image #}
                {% if user.profile.profile_picture %}
                    <img class="profile-img" src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}.img">
                {% else %}
                    <img class="profile-img default-img" src="{% static 'images/user.png' %}" alt="{{ user.username }}.img">
                {% endif %}

            </div>
            <div id="user-name">{{ request.user.username }}</div>
            <div id="user-caret-down"><i class="fa fa-caret-down"></i></div>
        </button>

        <div class="dropdown-content">
            <a href="{% url 'profile-details' user.pk %}">Profile</a>
            <a href="{% url 'taskboard' user.username %}">Personal Tasks</a>
            <a href="#">Teams</a>
            <a href="{% url 'home' %}">Home</a>

            <form class="form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-logout" type="submit">Logout</button>
            </form>
        </div>
    {% else %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">LogIn</a>
    {% endif %}
    </div>