{% extends 'tasks/task-details.html' %}

{% block task-details %}
    <div class="form gap-1">
        <h4 class="mb-4">{{ task.title|wordwrap:30|linebreaksbr }}</h4>

        <p>Team: <strong>{{ task.team.name }}</strong></p>

        <p>Created: {{ task.created_at.date }} - {{ task.created_at.time }}</p>

        <p>Deadline: {{ task.deadline.date }} - {{ task.deadline.time }}</p>

        {% if task.assigned_to.exists %}
            <p>Assigned to: {{ task.assigned_to.all|join:', ' }}</p>
        {% else %}
            <p>Assigned to: -----</p>
        {% endif %}
    
        <p>Created by: {{ task.created_by.username }}</p>

        {% if task.description %}
            <p>Description: {{ task.description }}</p>
        {% endif %}

        {% if task.note %}
            <p>Note: {{ task.note }}</p>
        {% endif %}

        {% if task.is_completed %}
            <p>Completed: Yes</p>
        {% else %}
            <p>Completed: No</p>
        {% endif %}

        <div class="profile-btns">
        
            {% if is_creator or user in task.assigned_to.all %}
                <a class="btn btn-secondary"
                   href="{% url 'team-task-edit' user.username task.team.slug task.pk %}">
                    Edit Task
                </a>
            {% endif %}

            {% if is_creator %}
                <a class="btn btn-secondary btn-danger"
                   href="{% url 'team-task-delete' request.user.username team.slug task.pk %}">
                    Delete
                </a>
            {% endif %}
        
        </div>
    </div>
{% endblock %}