{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="profile">
        <div class="details">
            <h2>Profile Details:</h2>
            <p class="profile-name"><strong><i>{{ user.username }}</i></strong></p>
            <div class="profile-img">
                {% if user.profile.profile_picture %}
                    <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}.img">
                {% else %}
                    <img class="profile-img" src="{% static 'images/user.png' %}" alt="{{ user.username }}.img">
                {% endif %}
            </div>

            <div class="profile-info">

                {% if user.profile.get_name %}
                    <p>{{ user.profile.get_name }}</p>
                {% endif %}

                {% if user.email %}
                    <p>{{ user.email }}</p>
                {% endif %}

                <p>Joined on {{ user.date_joined }}</p>
            </div>

            <div class="profile-btns">
                <a class="btn dropbtn" href='{% url 'profile-edit' request.user.pk %}'>Edit</a>
                <a class="btn dropbtn" href='{% url 'profile-delete' request.user.pk %}'>Delete</a>
            </div>
        </div>
    </div>

{% endblock %}