{% extends 'common/base.html' %}

{% block content %}
    <div class="container-fluid m-auto">
        <div class="card task">
            <h2 class="mb-5">Hey, {{ request.user.username }}!</h2>
            <p>Are you sure you want to <strong>Delete</strong> your profile?</p>

            <form class="form" method="post">

                {% csrf_token %}

                <div class="profile-btns">
                    <a class="btn btn-secondary"
                       onclick="window.history.back()">
                        Back
                    </a>
                    
                    <button class="btn btn-secondary" type="submit">Delete</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}