{% extends 'common/base.html' %}

{% block content %}
    <div class="container-fluid m-auto">
        <div class="task card">
            <h2>Edit Profile:</h2>
            <p class="mt-4"><strong><i>{{ profile.user.username }}</i></strong></p>

            <form class="form container-fluid" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form.as_p }}

                <div class="profile-btns container-fluid d-flex flex-wrap">
                    <a class="btn btn-secondary" 
                       href="{% url 'profile-details' request.user.pk %}">
                        Back
                    </a>
                    <button class="btn btn-secondary" type="submit">Update</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}