{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="card text-center container-fluid m-auto" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title mb-4">Profile Details:</h5>
            <p class="card-text"><strong><i>{{ request.user.username }}</i></strong></p>

            <div class="profile-img mb-4">
                {% if user.profile.profile_picture %}
                    <img src="{{ request.user.profile.profile_picture.url }}" alt="{{ request.user.username }}.img">
                {% else %}
                    <img class="profile-img" 
                         src="{% static 'images/user.png' %}" 
                         alt="{{ request.user.username }}.img">
                {% endif %}
            </div>

            <div class="profile-info mb-4">
                {% if user.profile.get_name %}
                    <p class="mb-3">{{ request.user.profile.get_name }}</p>
                {% endif %}

                {% if user.email %}
                    <p class="mb-3">{{ request.user.email }}</p>
                {% endif %}

                <p class="mb-3">Joined on {{ request.user.date_joined }}</p>
            </div>

            <div class="profile-btns">
                <a class="btn btn-secondary" 
                   href='{% url 'profile-edit' request.user.pk %}'>
                    Edit
                </a>
                <a class="btn btn-secondary" 
                   href='{% url 'profile-delete' request.user.pk %}'>
                    Delete
                </a>
            </div>

            <div class="d-flex align-self-start mt-3">
                <button class="btn btn-secondary mt-0"
                        onclick="window.history.back()">
                    Back
                </button>
            </div>
        </div>
    </div>
{% endblock %}