@import url('https://fonts.googleapis.com/css2?family=Itim&family=Permanent+Marker&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font: 1rem/1 'Itim', sans-serif;
    color: darkslateblue;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url('../images/background.png') repeat;
    background-size: 70px 70px;
    margin: 2rem;
    height: 100%;
}

a {
    text-decoration: none;
    color: darkslateblue;
}

a:hover {
    color: darkslateblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.my-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}
