{% extends 'common/base.html' %}

{% block content %}
    <div class="form form-view m-auto gap-3">
        <h4>Welcome to your Teams Dashboard</h4>

        <div class="form task teams-view bg-team-dash">
        
            {% if object_list %}
                <h5>Here are your teams:</h5>
            {% else %}
                
                <div>
                    <h5>There is no team yet!</h5>
                    <br>
                    <div class="d-flex align-items-center gap-3">
                        <p class="mb-0">But you can create one</p>
                        <a class="btn btn-secondary mt-0"
                           href="{% url 'team-create' request.user.username %}">
                            Here
                        </a>
                    </div>
                </div>
            {% endif %}

            <section class="container-fluid d-flex flex-column justify-content-center gap-3 my-4">
            
                {% for team in object_list %}
                    <div class="card custom-card card-link-hover">
                        <a href="{% url 'team-details' request.user.username team.slug %}">
                            <h5>{{ team.name }}</h5>
                            <p>There are <strong>{{ team_tasks.count }}</strong> uncompleted tasks</p>
                        </a>
                    </div>
                {% endfor %}
            
            </section>

            <div class="text-center mt-5 mb-3">
                {% include 'common/paginator.html' %}
            </div>

            <div class="profile-btns">
                <a class="btn btn-secondary"
                   href="{% url 'team-create' request.user.username %}">
                    Create New Team
                </a>
            </div>
        </div>
    </div>
{% endblock %}