{% extends 'common/base.html' %}

{% block content %}
    <div class="form task">
        <div class="container-fluid d-flex flex-column">
            <div class="form gap-1">
                <h4 class="mb-4">{{ object.name }}</h4>
                <p><strong>Created by: </strong><i>{{ object.created_by }}</i></p>

                <div class="d-flex justify-content-center gap-1">
                    <p class="pt-3"><strong>Members:</strong></p>
                    {% if object.members.exists %}
                        <p>{{ object.members.all|join:', ' }}</p>
                    {% else %}
                        <a class="btn btn-secondary mt-0" href="#">Add member</a>
                    {% endif %}
                </div>

                <div class="d-flex flex-column">
                    <p><strong>Tasks:</strong></p>

                    {% for task in team_tasks.all %}
                        <p>
                            <a href=""><i>{{ task.title }}</i></a>
                        </p>

                    {% empty %}
                        <p><i>There are no tasks yet!</i></p>

                    {% endfor %}
                </div>

                <div class="profile-btns mt-4">
                    <a class="btn btn-secondary"
                       href="{% url 'team-task-create' user.username team.slug %}">
                        Create New Task
                    </a>
                </div>

                <div class="profile-btns">
                    <a class="btn btn-secondary" href="#">Edit Team</a>
                    <a class="btn btn-secondary" href="#">Delete Team</a>
                </div>
                
                <div class="profile-btns">
                    <button class="btn btn-secondary" 
                       onclick="window.history.back()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}